@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-outline-white {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header-min-height {
  min-height: 5em;
}

main.bg-white,
section.bg-white {
  --tw-bg-opacity: 1;
}

/* Hide Search on PDF Viewer */
[data-testid="search__popover-button"] {
  display: none !important;
}

/* Hide Bookmarks on PDF Viewer */
#rpv-default-layout__sidebar-tab-1 {
  display: none !important;
}

/* Hide Attachments on PDF Viewer */
#rpv-default-layout__sidebar-tab-2 {
  display: none !important;
}
